.countdown-container{
    padding-top:30%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.clock-item .inner{
    height: 0px;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}
.image1{
    justify-content: end;
    position: absolute;
    margin-bottom: 20px;
    width: 200px;
    overflow: hidden;

    
    
}
.image{
    position: absolute;
    width:200px;
    bottom: -40px;
    overflow: hidden;
    z-index: 1;
    right: 0;
   
}
.text{
    color: black;
    font-size: 18px;
    font-weight: 400;
    margin-top: -50px;
    position: absolute;
    top: 50%;
    text-align: center;
    text-shadow: 1px 1px 1px rgba (0,0,0,1);
    width: 100%;
}
.btn{
    opacity: 0.9;
    border-radius: 0px 30px 30px 0px;
    
     width: 206px;
    height: 50px;
    left: 542px;
    top: 767px;

}

.form-control{
    opacity: 0.8;
    border: 1px solid #777777;
    box-sizing: border-box;
    border-radius: 30px;
    width: 580px;
    height: 50px;
  
}
h3{
    font-family: 'Poppins', sans-serif;
    color: #423CC2;
    line-height: 54px;
    font-style: normal;
}
.section-1 p{
    font-family: 'Poppins', sans-serif;
    line-height: 28px;
    font-style: normal;
    color: #333333;
}
.section-2 {
    padding-left:30px;
    font-family: 'Poppins', sans-serif;
    line-height: 28px;
    font-style: normal;
    color: #333333;
}

footer{
    justify-content: center;
    
}
.footer li{
    width:764px;
    
}
.height{
    height:700px;

}
.height-1{
    padding-top:160px;
}
.email{
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
color: #FFFFFF;
}
.navbar-nav{
    margin-right:130px;
}

.number{
margin-left:30px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
color: #FFFFFF;
}
.navbar-brand{
margin-left: 260px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
}

/* Countdown */

.hero--countdown{
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 68px;
}

.hero--countdown-item{
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero--countdown-item svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero--countdown-item svg circle{
    fill: none;
    stroke: var(--primary);
    stroke-width: 10px;
    stroke-dasharray: 342;
    stroke-dashoffset: 342;
}

/* 345 */

.hero--countdown-item svg circle:nth-child(1){
    fill: none;
    stroke: #DEE9F9;
    stroke-width: 10px;
    /* stroke-dasharray: 0; */
    stroke-dashoffset: 0;
}

.hero--countdown-item svg circle:nth-child(2){
    stroke: #423CC2;
    stroke-width: 10px;
    /* stroke-dasharray: 0; */
    stroke-dashoffset: calc(345 - (345 * 0) / 100);
}

.hero--countdown-item span{
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}
